{% extends "base.html" %}

{% block content %}
    <h1>Input Performance Score</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.cadet_last_name.label }}<br>
            {{ form.cadet_last_name(size=32) }}<br>
            {% for error in form.cadet_last_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.cadet_first_name.label }}<br>
            {{ form.cadet_first_name(size=32) }}<br>
            {% for error in form.cadet_first_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.performance.label }}<br>
            {{ form.performance }}<br>
        </p>
        <p>
            {{ form.score.label }}<br>
            {{ form.score(size=32) }}<br>
            {% for error in form.score.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}