{% extends "base.html" %}

{% block content %}
<!--    <h1>Welcome, {{ current_user.usertype }} {{ current_user.name }}!</h1>-->
<!--    <div id="uniformscores">-->
<!--        <table style="width:40%">-->
<!--            <tr>-->
<!--                <th> Week 1 </th>-->
<!--                <td> {{uniformScoreList[1]}}</td>-->
<!--                <th> Week 21 </th>-->
<!--                <td> {{uniformScoreList[21]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 2 </th>-->
<!--                <td> {{uniformScoreList[2]}}</td>-->
<!--                <th> Week 22 </th>-->
<!--                <td> {{uniformScoreList[22]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 3 </th>-->
<!--                <td> {{uniformScoreList[3]}}</td>-->
<!--                <th> Week 23 </th>-->
<!--                <td> {{uniformScoreList[23]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 4 </th>-->
<!--                <td> {{uniformScoreList[4]}}</td>-->
<!--                <th> Week 24 </th>-->
<!--                <td> {{uniformScoreList[24]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 5 </th>-->
<!--                <td> {{uniformScoreList[5]}}</td>-->
<!--                <th> Week 25 </th>-->
<!--                <td> {{uniformScoreList[25]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 6 </th>-->
<!--                <td> {{uniformScoreList[6]}}</td>-->
<!--                <th> Week 26 </th>-->
<!--                <td> {{uniformScoreList[26]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 7 </th>-->
<!--                <td> {{uniformScoreList[7]}}</td>-->
<!--                <th> Week 27 </th>-->
<!--                <td> {{uniformScoreList[27]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 8 </th>-->
<!--                <td> {{uniformScoreList[8]}}</td>-->
<!--                <th> Week 28 </th>-->
<!--                <td> {{uniformScoreList[28]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 9 </th>-->
<!--                <td> {{uniformScoreList[9]}}</td>-->
<!--                <th> Week 29 </th>-->
<!--                <td> {{uniformScoreList[29]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 10 </th>-->
<!--                <td> {{uniformScoreList[10]}}</td>-->
<!--                <th> Week 30 </th>-->
<!--                <td> {{uniformScoreList[30]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 11 </th>-->
<!--                <td> {{uniformScoreList[11]}}</td>-->
<!--                <th> Week 31 </th>-->
<!--                <td> {{uniformScoreList[31]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 12 </th>-->
<!--                <td> {{uniformScoreList[12]}}</td>-->
<!--                <th> Week 32 </th>-->
<!--                <td> {{uniformScoreList[32]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 13 </th>-->
<!--                <td> {{uniformScoreList[13]}}</td>-->
<!--                <th> Week 33 </th>-->
<!--                <td> {{uniformScoreList[33]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 14 </th>-->
<!--                <td> {{uniformScoreList[14]}}</td>-->
<!--                <th> Week 34 </th>-->
<!--                <td> {{uniformScoreList[34]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 15 </th>-->
<!--                <td> {{uniformScoreList[15]}}</td>-->
<!--                <th> Week 35 </th>-->
<!--                <td> {{uniformScoreList[35]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 16 </th>-->
<!--                <td> {{uniformScoreList[16]}}</td>-->
<!--                <th> Week 36 </th>-->
<!--                <td> {{uniformScoreList[36]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 17 </th>-->
<!--                <td> {{uniformScoreList[17]}}</td>-->
<!--                <th> Week 37 </th>-->
<!--                <td> {{uniformScoreList[37]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 18 </th>-->
<!--                <td> {{uniformScoreList[18]}}</td>-->
<!--                <th> Week 38 </th>-->
<!--                <td> {{uniformScoreList[38]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 19 </th>-->
<!--                <td> {{uniformScoreList[19]}}</td>-->
<!--                <th> Week 39 </th>-->
<!--                <td> {{uniformScoreList[39]}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th> Week 20 </th>-->
<!--                <td> {{uniformScoreList[20]}}</td>-->
<!--            </tr>-->

<!--        </table>-->
<!--        <table style="width:40%">-->
<!--            <tr>-->
<!--                <th> Week 1 </th>-->
<!--                <td> {{uniformScoreList[1]}}</td>-->
<!--                <th> Week 5 </th>-->
<!--                <td> {{uniformScoreList[21]}}</td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->

    <h1>Welcome, {{ current_user.usertype }} {{ current_user.name }}!</h1>
    {% if current_user.usertype == 'Officer' %}
        <div> OFficer Div</div>
    {% else %}
        <div> cadet Div </div>
        <a href="{{ url_for('cadet') }}">Check your marks</a>
    {% endif %}
{% endblock %}