{% extends "base.html" %}

{% block content %}
    <h1>Welcome, {{ current_user.usertype }} {{ current_user.name }}!</h1>
    <div id="uniformscores">
        <table style="width:40%">
            {% for i in range(0,20) %}
                <tr>
                    <th> Score {{i+1}} </th>
                    <td> {{uniformScoresList[i]}}</td>

            {% if i + 20 < 39 %}
                    <th> Week {{i+21}} Uniform Score </th>
                    <td> {{uniformScoresList[i+20]}}</td>
            {% endif %}
                </tr>
            {%endfor%}
        </table>

        <table style="width:40%">
            {% for i in range(1,8) %}
                <tr>
                    <th> Score {{i}} </th>
                    <td> {{performance_score_list[i]}}</td>
                </tr>
            {%endfor%}
        </table>
    </div>

{% endblock %}